In [3]:
import pandas as pd
import tensorflow as tf
import pickle
import numpy as np

### Loading our Models

In [4]:
scaler_deep_learning = pickle.load(open('scaler_deep_learning.pickle', 'rb'))
model = tf.keras.models.load_model('audiobooks_model.h5')

### Load new Data

In [5]:
raw_data = pd.read_csv('New_Audiobooks_Data.csv')

In [6]:
raw_data.shape

(29, 11)

In [7]:
raw_data.head(5) # No targets in this file

   1  1188  1188.1  5.33  5.33.1  0   8.91  0.12    0.1  0.2   39
0  2   648     648  5.33    5.33  0   8.91  0.48    0.0    0   91
1  3  2160    2160  7.69    7.69  0   8.91  0.00  680.4    0    0
2  4  1674    3348  8.00   16.00  1  10.00  0.00    0.0    0   27
3  5  2160    2160  5.66    5.66  0   8.91  0.12  734.4    0  198
4  6  2160    2160  6.58    6.58  0   8.91  0.00  734.4    0    0

In [8]:
new_data_inputs = raw_data.iloc[:,1:]
new_data_inputs.head()

   1188  1188.1  5.33  5.33.1  0   8.91  0.12    0.1  0.2   39
0   648     648  5.33    5.33  0   8.91  0.48    0.0    0   91
1  2160    2160  7.69    7.69  0   8.91  0.00  680.4    0    0
2  1674    3348  8.00   16.00  1  10.00  0.00    0.0    0   27
3  2160    2160  5.66    5.66  0   8.91  0.12  734.4    0  198
4  2160    2160  6.58    6.58  0   8.91  0.00  734.4    0    0

### Scaling the new data

In [9]:
new_data_inputs_scaled = scaler_deep_learning.transform(new_data_inputs)

c:\Users\Shrijeet Kumar\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

### Predicting

In [10]:
np.argmax(model.predict(new_data_inputs_scaled),1)

1/1 [==============================] - 0s 232ms/step

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1], dtype=int64)